<div>
    <h1>IN REsT</h1>
    {{ place_data }}
    <!--<p ng-bind="position|json"></p>-->
    <!--<p>-->
    <!--{{place}}<br /><br />-->
    <!--Longitude: {{position.coords.longitude}} <br />-->
    <!--Latitude: {{position.coords.latitude}} <br />-->
    <!--You're going to eat at: {{place.name}} <br />-->
    <!--Rating: {{place.rating}} <br />-->
    <!--Phone number: {{place.phone_number}} <br />-->
    <!--Address: {{place.address}}<br />-->
    <!--Price Level: {{place.price_level}}<br />-->
    <!--{{place.open_now}}<br /><br />-->
    <!--&lt;!&ndash;{{place.weekday_text}}&ndash;&gt;-->

    <!--<div ng-repeat="weekday in place.weekday_text">-->
    <!--{{weekday}}-->
    <!--</div>-->
    <!--&lt;!&ndash;todo: add angular to lines to show when available only, how to loop through all weekdays&ndash;&gt;-->



    <!--</p>-->

    <!--<div class="Flexible-container">-->
    <!--<iframe class="map" frameborder="0" style="border:0" ng-src="{{map}}"></iframe>-->
    <!--</div>-->

</div>
