.social { width:  250px;}

.navbar-brand { text-shadow: none;}

#skipRestaurant {width: inherit;}

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.logo-head {margin: 10px 0 0 0}
.logo-head h1 {
    font-size: 3em;
    float: left;
    /*font-family: 'Monofett', cursive;*/
    font-family: 'Bangers', cursive;
}

